<h1 class="h1">Actualizar perfil</h1>
<form *ngIf="formularioActualizarPerfil" [formGroup]="formularioActualizarPerfil" (ngSubmit)="actualizar()" enctype="multipart/form-data">
  <div class="row mb-3">
    <label for="nombre" class="col-sm-2 col-form-label">Nombre:</label>
    <div class="col-sm-10">
      <input id="nombre" formControlName="nombre" class="form-control">
      <div *ngIf="formularioActualizarPerfil.get('nombre')?.invalid && formularioActualizarPerfil.get('nombre')?.touched">
        <small *ngIf="formularioActualizarPerfil.get('nombre')?.errors?.['required']">El nombre es obligatorio.</small>
        <small *ngIf="formularioActualizarPerfil.get('nombre')?.errors?.['maxLength']">El nombre no puede exceder los 15 caracteres.</small>
        <small *ngIf="formularioActualizarPerfil.get('nombre')?.errors?.['pattern']">El nombre no puede contener números ni otro tipo de caracteres.</small>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="nombre" class="col-sm-2 col-form-label">Nombre de usuario:</label>
    <div class="col-sm-10">
      <input id="username" formControlName="username" class="form-control">
      <div *ngIf="formularioActualizarPerfil.get('username')?.invalid && formularioActualizarPerfil.get('username')?.touched">
        <small *ngIf="formularioActualizarPerfil.get('username')?.errors?.['required']">El nombre de usuario es obligatorio.</small>
        <small *ngIf="formularioActualizarPerfil.get('username')?.errors?.['maxLength']">El nombre de usuario no puede exceder los 20  caracteres.</small>
      </div>
    </div>
  </div>

<!--  <div class="row mb-3">-->
<!--    <label for="email" class="col-sm-2 col-form-label">Email:</label>-->
<!--    <div class="col-sm-10">-->
<!--      <input id="email" formControlName="email" class="form-control">-->
<!--      <div *ngIf="formularioActualizarPerfil.get('email')?.invalid && formularioActualizarPerfil.get('email')?.touched">-->
<!--        <small *ngIf="formularioActualizarPerfil.get('email')?.errors?.['required']">El email es obligatorio.</small>-->
<!--        <small *ngIf="formularioActualizarPerfil.get('email')?.errors?.['email']">El email no es válido.</small>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Contraseña:</label>
    <div class="col-sm-10">
      <input id="password" type="password" formControlName="password" class="form-control">
      <div *ngIf="formularioActualizarPerfil.get('password')?.invalid && formularioActualizarPerfil.get('password')?.touched">
        <small *ngIf="formularioActualizarPerfil.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
        <small *ngIf="formularioActualizarPerfil.get('password')?.errors?.['minLength']">La contraseña debe tener al menos 8 caracteres.</small>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="imagen" class="col-sm-2 col-form-label">Imagen</label>
    <div class="col-sm-10">
      <input type="file" id="imagen" name="imagen" formControlName="imagen" class="form-control" accept="image/jpeg" (change)="comprobarImagen($event)">
    </div>
  </div>

  <button class="btn btn-primary" type="submit" [disabled]="formularioActualizarPerfil.invalid">Enviar</button>
</form>
<div *ngIf="error" class="alert alert-danger">
  {{error}}
</div>
