a {
  cursor: pointer;
}

textarea {
 // width: 50%;
}

form {
  width: 75%;
  margin: auto;
}

* {
  //margin: auto;
}

h1{
  text-align: center;
  margin: auto auto 1em;
}

.list-group-item {
  width: 75%;
  margin: auto;
}
