<h1 class="h1">Lista de mensajes recientes</h1>

<div class="list-group">
  <form *ngIf="authToken$ | async" [formGroup]="formularioPublicarMensaje" (ngSubmit)="publicarMensaje()"
        class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{'@'+ (username$ | async)}}</h5>
    </div>
    <p class="mb-1">
      <textarea id="texto" formControlName="texto" class="form-control"></textarea>
    </p>
    <small>
      <button class="btn btn-primary">Enviar</button>
    </small>
  </form>
  <div *ngFor="let mensaje of mensajes$ | async" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-auto">
        <img alt="" class="rounded-circle" [ngSrc]="'assets/profile_images/' + mensaje.usuario.id + '.jpg'" width="50" height="50">
      </div>
      <div class="col">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{mensaje.usuario.nombre}} <small class="text-body-secondary">{{' @'+ mensaje.usuario.username}}</small></h5>
          <p *ngIf="mensaje.respuestaDe" class="respuestaDe" (click)="irDetalle(mensaje.respuestaDe)"><small>En respuesta a un mensaje de {{mensaje.respuestaDe.usuario.username}}</small></p>
          <small>{{obtenerTiempoVidaMensaje(mensaje.fecha)}}</small>
        </div>
        <p class="mb-1"> {{mensaje.texto}}</p>
        <small>
          <a (click)="irDetalle(mensaje)"><i class="bi bi-chat"></i>{{" " + mensaje.respuestas?.length}}</a>
          <a (click)="gestionarLike(mensaje)">
            <i class="bi" [ngClass]="leHaDadoLikeElUsuarioLogueado(mensaje.lesGusta!) ? 'bi-heart-fill' : 'bi-heart'"></i>
            {{" "+ mensaje.lesGusta?.length}}
          </a>
        </small>
      </div>
    </div>
  </div>
</div>
