<h1 class="h1">Lista de mensajes recientes</h1>

<div class="list-group">
  <form *ngIf="authToken$ | async" [formGroup]="formularioPublicarMensaje" (ngSubmit)="publicarMensaje()" enctype="multipart/form-data"
        class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{'@'+ (username$ | async)}}</h5>
    </div>
    <p class="mb-1">
      <textarea id="texto" formControlName="texto" class="form-control" (keyup)="gestionarBotonPublicarMensaje()">
      </textarea>
      <button type="button" class="boton-emojis" (click)="abrirSelector()">😀</button>
      <label for="multimedia" class="boton-multimedia"><i class="bi bi-paperclip"></i></label>
      <input type="file" id="multimedia" name="multimedia" [hidden]="true" formControlName="multimedia" class="form-control" accept="image/jpeg, image/jpg, image/png, image/gif, video/mp4" (change)="gestionarArchivoSeleccionado($event)" multiple>
      <emoji-mart *ngIf="abrirSelectorEmojis" [style]="{ position: 'absolute'}" [enableSearch]="true" [enableFrequentEmojiSort]="true" (emojiSelect)="seleccionarEmoji($event)" [title]="'JagobaX'" [i18n]="{ search: 'Buscar', emojilist: 'Lista de emojis', notfound: 'No se ha encontrado ningún emoji', clear: 'Limpiar', categories: { search: 'Resultados de la busqueda', recent: 'Recientes', people: 'Caras y personas', nature: 'Naturaleza', foods: 'Comida y bebida', activity: 'Deportes y actividades', places: 'Viajes y lugares', objects: 'Objetos', symbols: 'Símbolos', flags: 'Banderas', custom: 'Personalizados' }, skintones: {'1': 'Por defecto', '2':'Piel clara', '3': 'Piel medio clara', '4': 'Piel intermedia', '5': 'Piel medio oscura', '6': 'Piel oscura'}}"></emoji-mart>
    </p>
    <div *ngIf="formularioPublicarMensaje.get('multimedia')?.invalid && formularioPublicarMensaje.get('multimedia')?.touched">
      <small style="color: red;">Archivo no válido o con tamaño superior 5MB</small>
    </div>
    <small>
      <button class="btn btn-primary" [disabled]="botonEnviarDeshabilitado">Enviar</button>
    </small>
    <div class="mb-1"></div>
    <div *ngIf="urlVistaPrevia && urlVistaPrevia?.length && urlVistaPrevia.length > 0" class="row row-cols-3 g-1">
<!--      <h4>Archivos seleccionados:</h4>-->
      <div *ngFor="let vistaPrevia of urlVistaPrevia; let i = index" class="col columnas">
        <img *ngIf="vistaPreviaEsImagen(vistaPrevia)" [src]="vistaPrevia" alt="Vista previa" width="100" height="100">
        <video *ngIf="vistaPreviaIsVideo(vistaPrevia)" [src]="vistaPrevia" controls width="200"></video>
        <button type="button" class="quitar-multimedia" (click)="eliminarFicheroSeleccionado(i)">X</button>
      </div>
    </div>
  </form>
  <div *ngFor="let mensaje of mensajes$ | async" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-auto">
        <img *ngIf="(idUsuario$ | async) === mensaje.usuario.id && this.urlImagen" alt="" class="rounded-circle" [ngSrc]=urlImagen width="50" height="50">
        <img *ngIf="(idUsuario$ | async) !== mensaje.usuario.id || (idUsuario$ | async) === mensaje.usuario.id && !this.urlImagen" alt="" class="rounded-circle" [ngSrc]="'http://localhost:3000/profile_images/' + mensaje.usuario.id + '.jpg'" width="50" height="50">
      </div>
      <div class="col">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{mensaje.usuario.nombre}} <small class="text-body-secondary">{{' @'+ mensaje.usuario.username}}</small></h5>
          <p *ngIf="mensaje.respuestaDe" class="respuestaDe" (click)="irDetalle(mensaje.respuestaDe)"><small>En respuesta a un mensaje de {{mensaje.respuestaDe.usuario.username}}</small></p>
          <small>{{obtenerTiempoVidaMensaje(mensaje.fecha)}}</small>
        </div>
        <p class="mb-1"> {{mensaje.texto}}</p>
        <div *ngIf="mensaje.multimedia" class="row row-cols-3 g-1">
          <div *ngFor="let multimediaUrl of mensaje.multimedia" class="col columnas">
            <!-- Mostrar imágenes -->
            <img *ngIf="esImagen(multimediaUrl)" [src]="'http://localhost:3000' + multimediaUrl" alt="Imagen adjunta" width="75%" height="150">

            <!-- Mostrar videos -->
            <video *ngIf="esVideo(multimediaUrl)" [src]="'http://localhost:3000' + multimediaUrl" controls width="300"></video>
          </div>
        </div>
        <small>
          <a (click)="irDetalle(mensaje)"><i class="bi bi-chat"></i>{{" " + mensaje.respuestas?.length}}</a>
          <a (click)="gestionarLike(mensaje)">
            <i class="bi" [ngClass]="leHaDadoLikeElUsuarioLogueado(mensaje.lesGusta!) ? 'bi-heart-fill' : 'bi-heart'"></i>
            {{" "+ mensaje.lesGusta?.length}}
          </a>
        </small>
      </div>
    </div>
  </div>
</div>
