<h1 class="h1">Lista de mensajes recientes</h1>

<div class="list-group">
  <form *ngIf="authToken$ | async" [formGroup]="formularioPublicarMensaje" (ngSubmit)="publicarMensaje()"
        class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{'@'+ (username$ | async)}}</h5>
    </div>
    <p class="mb-1">
      <textarea id="texto" formControlName="texto" class="form-control">
      </textarea>
      <button type="button" class="boton-emojis" (click)="abrirSelector()">😀</button>
      <emoji-mart *ngIf="abrirSelectorEmojis" [style]="{ position: 'absolute'}" [enableSearch]="true" [enableFrequentEmojiSort]="true" (emojiSelect)="seleccionarEmoji($event)" [title]="'JagobaX'" [i18n]="{ search: 'Buscar', emojilist: 'Lista de emojis', notfound: 'No se ha encontrado ningún emoji', clear: 'Limpiar', categories: { search: 'Resultados de la busqueda', recent: 'Recientes', people: 'Caras y personas', nature: 'Naturaleza', foods: 'Comida y bebida', activity: 'Deportes y actividades', places: 'Viajes y lugares', objects: 'Objetos', symbols: 'Símbolos', flags: 'Banderas', custom: 'Personalizados' }, skintones: {'1': 'Por defecto', '2':'Piel clara', '3': 'Piel medio clara', '4': 'Piel intermedia', '5': 'Piel medio oscura', '6': 'Piel oscura'}}"></emoji-mart>
    </p>
    <small>
      <button class="btn btn-primary">Enviar</button>
    </small>
  </form>
  <div *ngFor="let mensaje of mensajes$ | async" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-auto">
        <img *ngIf="(idUsuario$ | async) === mensaje.usuario.id && this.urlImagen" alt="" class="rounded-circle" [ngSrc]=urlImagen width="50" height="50">
        <img *ngIf="(idUsuario$ | async) !== mensaje.usuario.id || (idUsuario$ | async) === mensaje.usuario.id && !this.urlImagen" alt="" class="rounded-circle" [ngSrc]="'http://localhost:3000/profile_images/' + mensaje.usuario.id + '.jpg'" width="50" height="50">
      </div>
      <div class="col">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{mensaje.usuario.nombre}} <small class="text-body-secondary">{{' @'+ mensaje.usuario.username}}</small></h5>
          <p *ngIf="mensaje.respuestaDe" class="respuestaDe" (click)="irDetalle(mensaje.respuestaDe)"><small>En respuesta a un mensaje de {{mensaje.respuestaDe.usuario.username}}</small></p>
          <small>{{obtenerTiempoVidaMensaje(mensaje.fecha)}}</small>
        </div>
        <p class="mb-1"> {{mensaje.texto}}</p>
        <small>
          <a (click)="irDetalle(mensaje)"><i class="bi bi-chat"></i>{{" " + mensaje.respuestas?.length}}</a>
          <a (click)="gestionarLike(mensaje)">
            <i class="bi" [ngClass]="leHaDadoLikeElUsuarioLogueado(mensaje.lesGusta!) ? 'bi-heart-fill' : 'bi-heart'"></i>
            {{" "+ mensaje.lesGusta?.length}}
          </a>
        </small>
      </div>
    </div>
  </div>
</div>
