a {
  cursor: pointer;
  padding-right: 0.5em;
}

form {
  width: 75%;
  margin: auto;
}


h1{
  text-align: center;
  margin: auto auto 1em;
}

.list-group-item {
  width: 75%;
  margin: auto;
}

.respuestaDe {
  color: #5287ef;
  cursor: pointer;
}

.bi-heart-fill {
  color: red;
}
