<div class="list-group">
  <div class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col-auto">
        <img *ngIf="(idUsuario$ | async) === mensaje.usuario.id && this.urlImagen" alt="" class="rounded-circle" [ngSrc]=urlImagen width="50" height="50">
        <img *ngIf="(idUsuario$ | async) !== mensaje.usuario.id || (idUsuario$ | async) === mensaje.usuario.id && !this.urlImagen" alt="" class="rounded-circle" [ngSrc]="'http://localhost:3000/profile_images/' + mensaje.usuario.id + '.jpg'" width="50" height="50">
      </div>
      <div class="col">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
            <span>{{ mensaje.usuario.nombre }}</span> <small
            class="text-body-secondary">{{ ' @' + mensaje.usuario.username }}</small>
          </h5>
            <small>{{ obtenerTiempoVida(mensaje.fecha) }}</small>
        </div>
        <p class="mb-1">{{ mensaje.texto }}</p>
        <small>
          <a><i class="bi bi-chat"></i>{{ " " + mensaje.respuestas?.length }}</a>
          <a (click)="gestionarLike(mensaje)"><i
            class="bi" [ngClass]="leHaDadoLikeElUsuarioLogueado(mensaje.lesGusta!) ? 'bi-heart-fill' : 'bi-heart'"
          ></i>{{' '+ mensaje.lesGusta?.length}}</a>
        </small>
      </div>
    </div>
  </div>
</div>
<div class="list-group">
  <div *ngFor="let respuesta of (respuestas$ | async)" class="list-group-item list-group-item-action respuesta">
    <div class="row">
      <div class="col-auto">
        <img *ngIf="(idUsuario$ | async) === respuesta.usuario.id && this.urlImagen" alt="" class="rounded-circle" [ngSrc]=urlImagen width="50" height="50">
        <img *ngIf="(idUsuario$ | async) !== respuesta.usuario.id || (idUsuario$ | async) === respuesta.usuario.id && !this.urlImagen" alt="" class="rounded-circle" [ngSrc]="'http://localhost:3000/profile_images/' + respuesta.usuario.id + '.jpg'" width="50" height="50">
      </div>
      <div class="col">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ respuesta.usuario.nombre }} <small
            class="text-body-secondary">{{ ' @' + respuesta.usuario.username }}</small></h5>
          <small>{{ obtenerTiempoVida(respuesta.fecha) }}</small>
        </div>
        <p class="mb-1"> {{ respuesta.texto }}</p>
        <small>
          <a (click)="irDetalle(respuesta)"><i class="bi bi-chat"></i>{{ " " + respuesta.respuestas?.length }}</a>
                    <a (click)="gestionarLike(respuesta)"><i
                      class="bi" [ngClass]="leHaDadoLikeElUsuarioLogueado(respuesta.lesGusta!) ? 'bi-heart-fill' : 'bi-heart'"
                    ></i>{{' '+ respuesta.lesGusta?.length}}</a>
        </small>
      </div>
    </div>
  </div>
</div>

<form *ngIf="authToken$ | async" [formGroup]="formularioResponder" (ngSubmit)="responder()"
      class="list-group-item list-group-item-action">
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{ '@' + (username$ |async) }}</h5>
  </div>
  <p class="mb-1">
    <textarea id="texto" formControlName="texto" class="form-control"></textarea>
    <button type="button" class="boton-emojis" (click)="abrirSelector()">😀</button>
    <emoji-mart *ngIf="abrirSelectorEmojis" [style]="{ position: 'absolute'}" [enableSearch]="true" [enableFrequentEmojiSort]="true" (emojiSelect)="seleccionarEmoji($event)" [title]="'JagobaX'" [i18n]="{ search: 'Buscar', emojilist: 'Lista de emojis', notfound: 'No se ha encontrado ningún emoji', clear: 'Limpiar', categories: { search: 'Resultados de la busqueda', recent: 'Recientes', people: 'Caras y personas', nature: 'Naturaleza', foods: 'Comida y bebida', activity: 'Deportes y actividades', places: 'Viajes y lugares', objects: 'Objetos', symbols: 'Símbolos', flags: 'Banderas', custom: 'Personalizados' }, skintones: {'1': 'Por defecto', '2':'Piel clara', '3': 'Piel medio clara', '4': 'Piel intermedia', '5': 'Piel medio oscura', '6': 'Piel oscura'}}"></emoji-mart>
  </p>
  <small>
    <button class="btn btn-primary">Responder</button>
  </small>
</form>
